<% include partials/header %>


<img class="img-responsive postImg center-block" src="<%= post.img %>">

<div class="blogBox container-fluid">
	<h2 class="blogTitle text-center"><%= post.title %></h2>
	<p class="blogBody"><%- post.body %></p>
	<a class="btn btn-default" href="/blog/<%= post.id %>/edit">Edit Post</a>
	<form action="/blog/<%= post.id %>?_method=DELETE" method="POST">
		<button class="btn btn-danger">Delete Post</button>  
	</form>
	<a href="/" class="btn btn-default">Go Back</a>
</div>
<% include partials/footer %>